<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send reply</title>
</head>

<body>
    <center>
        <h2>REPLY</h2>
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        <textarea name="reply" id="" placeholder="Leave Your Reply..."></textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <td><input type="submit" name="submit" id="" value="SEND"></td>
                    </th>
                </tr>
            </table>
        </form>
    </center>

</body>

</html>