<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>LOGIN</h1>
        <form method="post">
            <input type="text" placeholder="login id" name="logid"><br><br>
            <input type="text" placeholder="username" name="uname"><br><br>
            <input type="password" placeholder="password" name="psw"><br><br>
            <input type="text" placeholder="usertype eg:admin" name="usertype"><br><br>
            <button name="login">login</button>
        </form>
    </center>
</body>

</html>