<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>notification</h1>
    <form action="" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type="text" name="desc"></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" id=""></td>
            </tr>


        </table>
    </form>
</body>

</html>