<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>register</h1>

        <form method="post">
            <input type="text" placeholder="name" name="name"><br><br>
            <input type="email" placeholder="mail@gmail.com" name="mail"><br><br>
            <input type="password" placeholder="password" name="pass"><br><br>
            <input type="username" placeholder="username" name="username"><br><br>

            <input type="number" placeholder="ph_no +91" name="phno"><br><br>
            <input type="submit" name="">
    </center>
    </form>
</body>

</html>